<tr>
    <td>{{id}}</td>
    <td>{{{fileImg type}}}</td>
    <td style="max-width: 280px; word-wrap:break-word; text-align: start;">{{name}}</td>
    <td>{{size}}<strong>B</strong></td>
    <td>{{type}}</td>
    <form method="get">
    <input type="hidden" name="id" value="{{id}}">
    <td><button type="submit" formaction="/show" class="btn btn-info">SHOW</button></td>
    <td><button type="submit" formaction="/info" class="btn btn-dark">INFO</button></td>
    <td><button type="submit" formaction="/download" class="btn btn-success">DOWNLOAD</button></td>
    <td><button type="submit" formaction="/delete" class="btn btn-danger">DELETE</button></td>
    </form>
</tr>