{{!-- DIALOGS --}}

<dialog id="newFolder">
    <h3>Tworzenie nowego folderu</h3>
    <form method="get" action="/addFolder">
        <input type="hidden" name="root" value="{{ root }}">
        <input type="text" name="name" required>
        <button type="submit">Ok</button>
    </form>
    <button type="button" onclick="document.getElementById('newFolder').close()">Cancel</button>
</dialog>
<dialog id="newFile">
    <h3>Tworzenie nowego pliku tekstowego</h3>
    <form method="get" action="/addFile">
        <input type="hidden" name="root" value="{{ root }}">
        <input type="text" name="name" required>
        <button type="submit">Ok</button>
    </form>
    <button type="button" onclick="document.getElementById('newFile').close()">Cancel</button>
</dialog>

<dialog id="rnFolder">
    <h3>Zmień nazwę folderu</h3>
    <form method="get" action="/rnFolder">
        <input type="hidden" name="root" value="{{ root }}">
        <input type="text" name="name" required>
        <button type="submit">Ok</button>
    </form>
    <button type="button" onclick="document.getElementById('rnFolder').close()">Cancel</button>
</dialog>

<div class="d-flex">
    <aside>
        <button class="btn btn-info btn-lg" onclick="document.getElementById('newFolder').showModal()">Nowy
            folder</button>
        <button class="btn btn-info btn-lg" onclick="document.getElementById('newFile').showModal()">Nowy plik
            tekstowy</button>
        <button class="btn btn-info btn-lg" onclick="document.getElementById('rnFolder').showModal()">Zmień nazwę
            folderu</button>

        <button class="btn btn-info btn-lg p-1" onclick="document.getElementById('fileSelect').click()">
            <form class="m-0" action="/filemanager" method="post" enctype="multipart/form-data">
                Wybierz pliki
                <input type="hidden" name="root" value="{{ root }}">
                <input type="file" id="fileSelect" hidden class="form-control-file" required name="upload" multiple>
                <input type="submit" value="OK" style="float: right; background-color: gold; border-radius: 25%;"
                    onclick="event.stopPropagation()">
            </form>
        </button>


    </aside>
    <main>
        {{!-- VIEW --}}
        <p id="path_line">
            <a href="/filemanager">Home</a> {{#each path_array}} &gt;
            <a href="/filemanager?path=//{{path}}">{{name}}</a>
        {{/each}}
        </p>

        <hr>
        <div class="directories">
            {{#each dirs_array}}
            <div class="dirbox">
                <form method="get" action="/deleteFolder">
                    <a href="/filemanager?path={{../root}}/{{name}}">{{{fileImg type}}}</a>
                    <input type="hidden" name="root" value="{{ ../root }}">
                    <button type="submit" name="name" value="{{name}}" class="delete-btn">X</button>
                </form>
                <p class="name">{{name}}</p>
            </div>
            {{/each}}
        </div>
        <hr>
        <div class="files">
            {{#each files_array}}
            <div class="filebox">
                <form method="get" action="/deleteFile">
                    <a href="/fileEditor?name={{../root}}/{{name}}">{{{fileImg type}}}</a>
                    <input type="hidden" name="root" value="{{ ../root }}">
                    <button type="submit" name="name" value="{{name}}" class="delete-btn">X</button>
                </form>
                <p class="name">{{name}}</p>
            </div>
            {{/each}}
        </div>
    </main>
</div>